In [7]:
import pandas as pd 
import numpy as np 
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

In [3]:
data = pd.read_csv('let.csv')
data.head()

   T  2   8  3  5  1  8.1  13  0  6  6.1  10  8.2  0.1  8.3  0.2  8.4
0  I  5  12  3  7  2   10   5  5  4   13   3    9    2    8    4   10
1  D  4  11  6  8  6   10   6  2  6   10   3    7    3    7    3    9
2  N  7  11  6  6  3    5   9  4  6    4   4   10    6   10    2    8
3  G  2   1  3  1  1    8   6  6  6    6   5    9    1    7    5   10
4  S  4  11  5  8  3    8   8  6  9    5   6    6    0    8    9    7

In [4]:
X = data.iloc[:,1:]
X.head()

   2   8  3  5  1  8.1  13  0  6  6.1  10  8.2  0.1  8.3  0.2  8.4
0  5  12  3  7  2   10   5  5  4   13   3    9    2    8    4   10
1  4  11  6  8  6   10   6  2  6   10   3    7    3    7    3    9
2  7  11  6  6  3    5   9  4  6    4   4   10    6   10    2    8
3  2   1  3  1  1    8   6  6  6    6   5    9    1    7    5   10
4  4  11  5  8  3    8   8  6  9    5   6    6    0    8    9    7

In [6]:
Y = data.iloc[:,0]
Y.head()

0    I
1    D
2    N
3    G
4    S
Name: T, dtype: object

In [8]:
modelSVM = SVC(kernel='poly')
modelTree = DecisionTreeClassifier()
Svm = cross_val_score(modelSVM,X,Y,cv=5)
Tree = cross_val_score(modelTree,X,Y,cv=5)
print(Svm.round(4))
print(Tree.round(4))

[0.9505 0.953  0.9488 0.9488 0.947 ]
[0.8708 0.8868 0.8712 0.8778 0.8787]